.section-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title {
  font-size: 2rem;
}


#about-main {
  margin: 5% 15%;
}

#works-main {
  margin: 5%;
}