.contact {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  padding-bottom: 0%;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  font-size: 1.25rem;
  color: #607b7d;
  margin-bottom: 0%;
}

.contact-links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #607B7D;
  text-decoration: none;
  margin-bottom: 0%;
}

.contact-links:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
}

.copyright {
  font-size: 16px;
  padding: 0%;
}

@media (max-width: 900px) {
  .contact-info {
      display: flex;
      flex-direction: column;
  }
}