.indiv_page {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    color: black;
    align-items: center;
    text-align: center;
}

.indiv_page hr {
    background-color: black;
    color: black;
}

.indiv_project_body {
    display: flex;
    text-align: left;
    margin-left: 5em;
    margin-right: 5em;
    align-items: flex-start;
    margin-top: 0em;
    margin-bottom: 2em;
}

.project_media {
    align-items: center;
    text-align: center;
}


.project_table {
    margin-right: 6em;
}

.project_facts {
    margin-top: 1em;
    margin-bottom: 1em;
}

.project_fact {
    font-weight: bold;
}

.project_description {
    font-size: 18px;
    margin-top: 1em;
}

.project_description p {
    margin-top: 0;
}


.project_note {
    font-size: 14px;
}

.project_info {
    font-size: 18px;
}

.shoutout {
    font-weight: 500;
}

#spotify_vis {
    margin-top: 1em;
}

#cse330_link {
    color: #2e82cc;
}
#cse330_link:link {
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-thickness: 1px;

}