.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #92B6B1;
    color: #fff;
    /* padding: 1rem; */
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-left {
    justify-content: left;
    margin-left: 2%;
    margin-top: 0;
}

.navbar-left h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 2em;
}

.nav_links {
    padding-left: 1em;
    padding-right: 1em;
    /* margin-left: 1em; */
    /* margin-right: 1em; */
}

.nav_links {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
}

.nav_links:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

.name:link{
    text-decoration: none;
}
.name:hover{
    text-decoration: none;
}